* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.html {
  font-size: 16px;
}

body {
  background-color: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 90rem;
  margin: auto;
  padding: 0 1rem;
}

.block {
  margin-top: 1.125rem;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.25rem 0.75rem rgb(135 135 135 / 10%);
  padding: 1.125rem;
}

header .header-inner {
  background-color: #161b46;
}
header .header-inner .logo-section {
  max-width: 90rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.6875rem;
  padding: 1rem 1rem 0;
}
.logo-section .logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-section .logo a img {
  margin-right: 1rem;
}
.logo-section .logo a span {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
.logo-section .search-bar {
  width: 30.8125rem;
  background: #202555;
  border-radius: 0.625rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-section .search-bar input {
  width: 100%;
  height: 1.5rem;
  background: none;
  border: none;
  outline: none;
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
.logo-section .search-bar input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.logo-section .notif {
  border-radius: 6.25rem;
  background: #202555;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding: 0.6rem 1rem;
}
.logo-section .notif img {
  margin-right: 1rem;
}
.logo-section .burger-menu-button {
  display: none;
}
header .navbar {
  background-color: #fff;
}
header .navbar ul {
  max-width: 90rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}
header .navbar ul li {
  padding: 1.5rem;
  transition: 0.3s ease;
}
header .navbar ul li:hover {
  background-color: #e5e5e5;
}
header .navbar ul li a {
  font-size: 1rem;
  color: #635a6b;
}
header .navbar ul li.active {
  position: relative;
}
header .navbar ul li a .active {
  color: #161b46;
  font-weight: bold;
}
header .navbar ul li.active::after {
  content: "";
  width: 100%;
  height: 0.1875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #161b46;
  border-radius: 1rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumb a .home {
  max-width: 1rem;
}
.breadcrumb > a,
.breadcrumb > img {
  font-weight: bold;
  color: #161b46;
  margin-right: 1.5rem;
}
.breadcrumb > a:last-child {
  color: #635a6b;
}

.head-block {
  display: grid;
  grid-template-columns: 33.33% 66.66%;
}
.head-block .left {
  margin-right: 2rem;
}
.head-block .left .versus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
}
.head-block .left .versus .team {
  text-align: center;
}
.head-block .left .versus .team img {
  height: 100%;
}
.head-block .left .versus .score .value,
.head-block .left .versus .score .time {
  display: block;
  text-align: center;
}
.head-block .left .versus .score .value {
  font-size: 2.5rem;
  font-weight: 700;
}
.head-block .left .versus .score .time {
  font-weight: 600;
  color: #949292;
}
.head-block .left .winner {
  margin-top: 2rem;
}
.head-block .left .winner h4 {
  text-align: center;
}
.head-block .left .winner img {
  margin-top: 1.5rem;
  width: 100%;
}
.head-block .right-section {
  display: flex;
}
.head-block .video {
  border-radius: 0.3125rem;
  flex-basis: 40%;
  max-width: 40%;
}
.head-block .video iframe {
  width: 100% !important;
}
.head-block .right-section .right {
  padding: 2rem 0 0 2rem;
  flex-basis: 60%;
  max-width: 60%;
}
.head-block .right h3 {
  margin-top: 1rem;
}
.head-block .right p {
  margin-top: 1rem;
  color: #767379;
}
/* <!-- Timeline block 3--> */

.timeline-block .block .time-wrapper {
  position: relative;
  min-height: 12.1875rem;
  max-width: 87rem;
  display: flex;
  align-items: center;
}
.timeline-block .block .time-wrapper .timeline {
  width: 100%;
  height: 0.125rem;
  background-color: #000000;
}
.time-wrapper .timeslots .start-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.time-wrapper .timeslots span {
  text-align: center;
}
.time-wrapper .timeslots .time-point {
  margin: 1rem 0;
  border: 1px solid;
  border-radius: 50%;
  line-height: 1.7;
  background: #ffffff;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.time-wrapper .timeslots .start {
  left: 3%;
  top: 7%;
}
.time-wrapper .timeslots .t11-min {
  left: 17%;
  top: 35%;
}
.time-wrapper .timeslots .t25-min {
  left: 30%;
  top: 7%;
}
.time-wrapper .timeslots .t44-min {
  left: 45%;
  top: 35%;
}
.time-wrapper .timeslots .t75-min {
  left: 65%;
  top: 7%;
}
.time-wrapper .timeslots .t82-min {
  left: 80%;
  top: 17%;
}
.time-wrapper .timeslots .t89-min {
  left: 93%;
  top: 35%;
}
/* <!-- Navbar block 4 --> */
.navbar-block ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.navbar-block ul li {
  padding: 0.5rem 6rem;
  transition: 0.3s ease;
  display: block;
}
.navbar-block ul li:hover {
  background-color: #e5e5e5;
}
.navbar-block ul li a {
  font-size: 1rem;
  color: #635a6b;
}
.navbar-block ul li.active {
  position: relative;
}
.navbar-block ul li.active a {
  color: #161b46;
  font-weight: bold;
  font-size: 1.25rem;
}
.navbar-block ul li.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -18px;
  left: 0;
  background: #161b46;
  border-radius: 1rem;
}
/* <!-- block wrapper 5,6--> */
.block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.block-wrapper .stats {
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.block-wrapper .player {
  max-width: 66.66%;
  flex-basis: 66.66%;
}
/* <!-- stats block 5--> */
.stats-block .versus {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  background: #f6f6f6;
  align-items: center;
  padding: 1rem 1rem 1rem;
  border-radius: 0.625rem;
}
.stats-block {
  padding: 1.7rem;
}
.stats-block .versus .team {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.stats-block .versus .team h4 {
  align-items: center;
  justify-content: center;
}
.stats-block .versus .team img {
  height: 100%;
}
.status-table {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}
.status-table h5 {
  text-align: center;
}

.status-table .table-items {
  margin-top: 0.5rem;
}

.status-table .values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.status-table .values .lines {
  max-width: 80%;
  flex-basis: 80%;
  background: #ededed;
  height: 4px;
  border-radius: 0.9375rem;
  position: relative;
}
.status-table .values .lines span {
  height: 0.25rem;
  max-width: 50%;
  border-radius: 0.9375rem;
  display: block;
  position: absolute;
  top: 0;
}
.status-table .values .lines .blue {
  background: #161b46;
  width: 30%;
  right: 50%;
}
.status-table .values .lines .green {
  background: #15be65;
  width: 30%;
  left: 50%;
}
/* ------player block 6------*/
.player-block {
  margin-left: 1rem;
  padding: 0;
}
.player-block .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.player-block .head .head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.player-block .head .head-left h5 {
  font-weight: normal;
  margin-right: 2rem;
}
.player-block .head .head-left button {
  display: block;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.625rem;
}
.player-block .head .head-left button::after {
  content: " \25BC";
}
.player-block .selector {
  padding: 0.75rem 0;
}

.player-block .selector ul {
  display: flex;
}

.selector ul li a {
  color: #635a6b;
  padding: 1rem;
}
.selector .active {
  color: #161b46;
  font-weight: bold;
  position: relative;
}

.player-block .tables table {
  margin-top: 2.3125rem;
  width: 100%;
}
.tables table th {
  font-size: 0.875rem;
  color: #767379;
  text-align: left;
}
.tables table td {
  padding: 0.63rem 0;
  font-size: 0.8rem;
  border: none;
}
.tables table td:nth-child(2) {
  display: flex;
  align-items: center;
}
.tables table td:nth-child(2) img {
  width: 1rem;
  margin: 0 0.4rem;
}
.tables table tr th:nth-child(2) {
  width: 32%;
}
.tables table tr:nth-child(even) {
  background-color: #f6f6f6;
}
.tables table tr th:not(:nth-child(2)),
.tables table tr td:not(:nth-child(2)) {
  text-align: center;
}
.player-block .pagination {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem 1.5rem 0;
}
.player-block .pagination > * {
  margin-left: 1rem;
}
.player-block .pagination .previous {
  background-color: #ffffff;
  transform: rotate(180deg);
}
.player-block .pagination .nextt {
  background-color: #ffffff;
}
.player-block .pagination .page-no .number {
  padding: 0.5rem;
  margin-left: 0.5rem;
  width: 1.875rem;
  line-height: 1;
  border-radius: 50%;
}
/* <!-- teams 7,8,9--> */
.teams ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.teams ul li {
  max-width: 33.33%;
  flex-basis: 33.33%;
  padding: 0 0.5rem;
}
/* <!-- team-1 7--> */

.team-1 {
  padding: 0;
}
.team-1 .head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
}
.team-1 .head h3 {
  margin-left: 1rem;
}
.field-container .field {
  position: relative;
}
.field-container .field .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field-container .field .keeper-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.field .oppo-goal {
  margin-top: -3rem;
}
.field .oppo-goal img {
  display: block;
  margin: auto;
}
.field-container .field .field-row {
  min-height: 8.375rem;
  background-color: #dff0e7;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.field-container .field .field-row:nth-child(even) {
  background-color: #e8f9f0;
}
.field-row .field-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -7.375rem;
  position: relative;
}

.field-row .field-player span {
  color: #3e3744;
}

.field-player.keeper::after {
  content: url("images/football.svg") "  2";
  position: absolute;
  right: 0;
}
.field-player.yellow-card::after {
  content: url("images/yellow.svg");
  position: absolute;
  left: 0;
}
.field-player.arrow::after {
  content: url("images/arrow-d.svg");
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
}
.field-player.red-card::after {
  content: url("images/red.svg");
  position: absolute;
  left: 0.625rem;
}

.team-1 .foot {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}
.team-1 .foot span {
  color: #767379;
}
/* <!-- players 8--> */
.teams .subs {
  padding: 0;
}
.teams .subs h3 {
  padding: 1rem;
  margin-bottom: 1rem;
}

.subs .team .head {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.subs .team .head h4 {
  margin-left: 1rem;
}
.subs .team .player-container {
  padding: 1rem;
}
.subs .team .players {
  display: flex;
  align-items: center;
  height: 3.3rem;
}
.subs .team .players img {
  height: 95%;
}
.subs .team .players h4 {
  padding-bottom: 0.625rem;
}
/* <!-- team-2 9--> */

/* <!-- Schedule wrapper 10--> */
.scheduler .time-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}
.scheduler .time {
  display: flex;
  flex-direction: column;
  margin-top: 1.375rem;
}
.scheduler h4 {
  margin-bottom: 0.875rem;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 0.5rem;
}
.content-block h3 {
  padding: 1rem;
}
.content-block h5 {
  padding: 0.5rem;
}
.content-block .w-text {
  display: block;
  justify-content: center;
  margin-left: 1rem;
  background: #15be65;
  border-radius: 50%;
  height: 1.1875rem;
  width: 1.1875rem;
}
.content-block .w-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 0.625rem;
  padding-top: 0.25rem;
}
.content-block .ft {
  color: #949292;
  font-weight: 600;
  font-size: 0.875rem;
}
.content-block .liv {
  height: 2rem;
}

.schedule-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.schedule-wrapper .match {
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.schedule-wrapper .match .matches-block {
  background: #161b46;
  color: #ffffff;
  padding: 0;
}

.matches-block .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.matches-block .head .prev,
.next {
  color: #f6f6f6;
  background-color: #202555;
  padding: 0.5rem;
  border-radius: 6.25rem;
}
.matches-block h4 {
  margin-top: 1.75rem;
  padding: 1rem;
  color: #ffffff;
  background-color: #202555;
}
.schedule-wrapper .match .content-block-container {
  padding: 0.5rem 1rem 1rem 1rem;
}
.schedule-wrapper .match .content-block {
  margin-bottom: 1rem;
}
.schedule-wrapper .match .content-block h5 {
  color: #161b46;
}
.schedule-wrapper .match .content-block h3 {
  color: #161b46;
}
/* <!-- info-block 12--> */

.schedule-wrapper .info {
  max-width: 66.66%;
  flex-basis: 66.66%;
}
.schedule-wrapper .info .info-block {
  margin-left: 1rem;
}
.info-block h6 {
  color: #635a6b;
}
.info-block .arena {
  margin-top: 1.5625rem;
  display: flex;
  align-items: center;
}
.info-block .arena .arena-info {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.info-block .arena .arena-info .img-bg {
  background-color: #f6f6f6;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.info-block .content h3 {
  margin-top: 2.6875rem;
  margin-bottom: 0.6875rem;
}
.info-block .content p {
  margin-bottom: 2rem;
  color: #767379;
}
/* Responsive */
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .scheduler .time-container {
    grid-gap: 0.5rem;
  }
  .content-block h3 {
    padding: 0.5rem;
  }
  .timeline-block {
    overflow-x: auto;
  }
}

@media (max-width: 992px) {
  .logo-section .logo a img {
    margin-right: 0.5rem;
    width: 2rem;
  }
  .logo-section .logo a span {
    font-size: 1rem;
  }
  .logo-section .search-bar {
    width: 21.8125rem;
    padding: 0.5rem;
  }
  .logo-section .search-bar input {
    font-size: 0.8rem;
  }
  .head-block .left .versus {
    padding: 0;
  }
  header .navbar ul li {
    padding: 0.9rem;
  }
  .navbar-block ul li {
    padding: 0;
  }
  .breadcrumb {
    padding: 0.7rem;
  }
  .stats-block .versus .team {
    flex-direction: column;
  }
  .stats-block .versus .team:nth-child(2) {
    flex-direction: column-reverse;
  }
  .player-block .selector {
    font-size: 0.8rem;
  }
  .player-block .tables {
    overflow-x: auto;
  }
  .player-block .tables table {
    width: 40.0625rem;
  }
  .scheduler .time-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  header .navbar ul {
    overflow-x: auto;
  }
  .logo-section .notif {
    padding: 0.6rem 0.6rem;
  }
  .logo-section .notif span {
    display: none;
  }
  .logo-section .notif img {
    margin-right: 0;
  }
  .logo-section .search-bar {
    width: 18.8125rem;
  }
  .head-block {
    grid-template-columns: 100%;
  }

  .player-block .selector {
    overflow-x: auto;
  }
  .player-block.block {
    margin-left: 0;
  }
  .block-wrapper {
    display: block;
  }
  .block-wrapper .stats {
    max-width: 100%;
    flex-basis: 100%;
  }
  .block-wrapper .player {
    max-width: 100%;
    flex-basis: 100%;
  }
  .teams ul {
    display: block;
  }
  .teams ul li {
    max-width: 100%;
    flex-basis: 100%;
  }
  .scheduler .time-container {
    grid-template-columns: auto;
  }
  .schedule-wrapper {
    display: block;
  }
  .schedule-wrapper .match {
    max-width: 100%;
    flex-basis: 100%;
  }
  .schedule-wrapper .info .info-block {
    margin-left: 0;
  }
  .schedule-wrapper .info {
    max-width: 100%;
    flex-basis: 100%;
  }
  .info-block .arena {
    display: block;
  }
  .info-block .arena .arena-info {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .navbar-block {
    font-size: 0.5rem;
    padding: 0.6rem;
  }
  header .navbar ul li.active::after {
    bottom: -9px;
  }
  header .navbar ul li {
    padding: 0.7rem;
  }
  header .navbar ul li a {
    display: block;
    width: 6rem;
  }
  .logo-section .search-bar {
    max-width: 2.5rem;
    border-radius: 50%;
  }
  .logo-section .notif {
    display: none;
  }
  .navbar-block ul li .active::after {
    bottom: -10px;
  }
  .navbar-block ul li.active::after {
    bottom: -10px;
  }
  .navbar-block ul li a {
    font-size: 0.9rem;
  }
  .navbar-block ul li.active a {
    font-size: 0.9rem;
  }
  .head-block .right-section {
    display: block;
  }
  .head-block .left {
    margin-right: 0;
  }
  .head-block .left .winner img {
    max-width: 100%;
  }
  .head-block .video {
    margin-top: 1rem;
    flex-basis: 100%;
    max-width: 100%;
  }
  .head-block .right-section .right {
    padding: 2rem 0 2rem 2rem;
    flex-basis: 100%;
    max-width: 100%;
  }
  .breadcrumb {
    overflow-x: auto;
  }
  .breadcrumb .pl {
    display: block;
    width: 7rem;
  }
  .breadcrumb .lm {
    display: block;
    width: 14rem;
  }

  .timeline-block .block {
    overflow-x: auto;
    max-width: 100%;
  }
  .timeline-block .block .time-wrapper {
    width: 40rem;
  }
  .player-block .head .head-left {
    display: block;
  }
  .player-block .head .head-left h5 {
    display: none;
  }
}
